<div class="profile">
  <div class="profile__header">
    <img class="profile__image" src="{{user.avatar}}" alt="User avatar">
    <h2 class="profile__title">{{user.display_name}}</h2>
  </div>

  {{> userinfo/userinfo fields=fields}}

  <div class="profile__nav">
    <a class="profile__link" href="/src/pages/main.hbs">Back to main page</a>
    <a class="profile__link" href="/src/pages/edit-profile.hbs">Change data</a>
    <a class="profile__link" href="/src/pages/signin.hbs">Change password</a>
    <a class="profile__link profile__link_color_red" href="/src/pages/signin.hbs">Exit</a>
  </div>
</div>
