<div class="profile">
  <div class="profile__header">
    <img class="profile__image profile__image_edit" src="{{user.avatar}}" alt="User avatar">
  </div>

  <form class="profile-form">
    <fieldset class="profile-form__inputs">
      {{#each fields}}
        {{> form-item/form-item value=(lookup ../user [name]) }}
      {{/each}}    
    </fieldset>
    {{> button/button title="Save" link="/src/pages/profile.hbs" className="profile-form__button"}}
  </form>

  <div class="profile__nav">
    <a class="profile__link profile__link_pos_center" href="/src/pages/profile.hbs">
      Back to profile page
    </a>
  </div>
</div>
