:root {
  --color-dark: #1e1e1e;
  --color-gray: #999;
  --color-blue: #3369f3;
  --color-red: #f00;
  --color-light-gray: #eaeaea;
  --color-light-blue: #e4edfd;
  --color-dark-white: #efefef;
  --color-white: #fefefe;
  --border-color-light: var(--color-light-gray);
}
