* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
	transition: all 0.5s ease;
}

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  line-height: 1;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 100vh;
  background-color: var(--color-light-gray);
}

.main {
  justify-content: start;
  align-items: stretch;
  height: 100vh;
}

.button {
  display: block;
	background: none;
	box-shadow: none;
	border: none;
	outline: none;
}
