<div class="login">
  <a href="../pages/signin.hbs" class="button login__button">Sign in</a>
  <p class="login__text">
    Don't have an account?
    <a class="login__link" href="../pages/signup.hbs">Sign up</a>
  </p>
</div>
