<div class="login">
  <a href="../pages/signin.hbs" class="button login__button">Register</a>
  <p class="login__text">
    Already have an account?
    <a class="login__link" href="../pages/signin.hbs">Sign in</a>
  </p>
</div>
