---
title: Simple messenger
css:
  - ../styles/style.css
  - ../styles/wrapper.css
  - ../partials/cover/cover.css
  - ../partials/login/login.css
---

{{!< base}}

<main class="content">
  {{> cover/cover }}
</main>
