---
title: Main page
css:
  - ../styles/style.css
  - ../partials/chats-list/chats-list.css
  - ../partials/chats/chats.css
---
{{!< base}}

<main class="content main">
  {{> chats-list/chats-list}}
</main>
