---
title: Error page
css:
  - style.css
  - error-page.css
---
{{!< base}}

<main class="content">
  <div class="info">
    <h1 class="info__title">500</h1>
    <p class="info__subtitle">Something went wrong</p>
    <a class="info__link" href="./index.hbs">Back</a>
  </div>
</main>
