---
title: User profile
css:
  - ../styles/style.css
  - ../styles/wrapper.css
  - ../partials/profile-view/profile-view.css
  - ../partials/userinfo/userinfo.css
---

{{!< base}}

<main class="content">
  <section class="wrapper wrapper_profile">
    {{> profile-view/profile-view fields=forms.profile user=forms.user}}
  </section>
</main>
