---
title: User profile
css:
  - ../styles/style.css
  - ../partials/userinfo/userinfo.css
---

{{!< base}}

<main class="content">
  <section class="profile">
    <div class="profile__avatar-group">
      <h2></h2>
    </div>

    {{> userinfo/userinfo fields=fields.profile}}

    <div class="profile__btn-group">
      <a class="" href="./signin.hbs">Exit</a>
    </div>
  </section>
</main>
