---
title: Register page
css:
  - ../styles/style.css
  - ../styles/wrapper.css
  - ../partials/form/form.css
---
{{!< base}}

<main class="content">
  <div class="wrapper">
    {{> form/form}}
  </div>
</main>
