<section class="chats-list">
  <div class="utils">
    <nav class="nav">
      <a class="nav__link" href="/src/pages/profile.hbs">Profile</a>
    </nav>

    <label class="search">
      <input class="search__input" type="text" placeholder="Search">
    </label>
  </div>

  {{> chats/chats data=chats}}
</section>
