<ul class="chats">
  {{#each chats}}
    <li class="chat">
      <img class="chat__image" src="https://picsum.photos/seed/picsum/200/300" alt="User avatar">
      <div class="chat__name-group">
        <p class="chat__name">User</p>
        <p class="chat__message">Hello</p>
      </div>
      <div class="chat__info-group">
        <p class="chat__time">12:12</p>
        <p class="chat__unread">3</p>
      </div>
    </li>
  {{/each}}  
</ul>
