---
title: User profile
css:
  - ../styles/style.css
  - ../styles/wrapper.css
  - ../partials/profile/profile.css
  - ../partials/form-item/form-item.css
  - ../partials/button/button.css
---

{{!< base}}

<main class="content">
  <section class="wrapper">
    {{> profile/profile-password fields=forms.edit_password user=forms.user}}
  </section>
</main>
