<ul class="userinfo">
  {{#each fields}}
    <li class="userinfo__item">
      <p class="userinfo__field">{{this.label}}</p>
      <p class="userinfo__data">{{this.value}}</p>
    </li>
  {{/each}}  
</ul>
