<section class="wrapper cover">
  <img 
    class="cover__image" 
    src="/static/images/owl.svg" 
    alt="Owl image"
  >
  <h1 class="cover__title">
    Owl Messenger
  </h1>

  {{> login/login aref="../pages/signin.hbs"}}
</section>
